.container {
  width: 90%;
  margin: auto;
  border: 5px solid rgb(155, 154, 154);
  display: flex;
  flex-direction: row;
  }
.perfil {
    background-color: rgb(22, 16, 82);
    flex-grow: 1;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-flow: column wrap;
    color: white;
  }
 h2{
    text-align: center;
  }
.perfil img {
      width: 250px;     
  }

 h1 {
      text-align: center;
      font-size: 50px;
      color:white;
      color:rgb(46, 46, 165);
  }

 h3 {
    color:rgb(46, 46, 165);
    padding-left: 40px;
}
.caja-perfil {
    background-color: rgb(246, 247, 248);
    padding: 5%;
    
  }
.iconos{
     color: white;
     font-size: 30px;
     margin-left: 20px;
  }
.icono{
    color: white;
    font-size: 30px;
    margin-left: 45px;
 }
.porcentaje{
     width: 100%;
     height: 10px;
     background-color: rgb(42, 44, 46);
     display: block;
     margin-top: 5px;
     border-radius: 5px;

  }
.porcentaje div{
    background: white;
    height: 10px;
    border-radius: 5px;

  }
.datos-profesionales {
    background-color: white;
    flex-grow: 50;
    padding-bottom: 5%;
  }

.datos-profesionales h4 {
    margin-left: 5%;
    text-align: left;
    font-size: 20px;
    padding-top: 5;
    color: rgb(46, 46, 165);
    
  }
  
.caja-profesionales {
    margin: auto;
    border-top: 4px solid gray;
    box-shadow: 0 0 20px gray;
    width: 95%;
    padding-bottom: 20px;
    padding-left: 20px;
    text-align: justify;
  
  }
.blanco{
      background-color: rgb(243, 243, 243);
  }
.azul {
    background-color: rgb(22, 16, 82);
  }
  