/*Fuentes de letra*/
@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/*Color de fondo*/
body {
    background-color:#181D31;
}
/* */
.container {
    color:rgb(49, 25, 104); /*color de la letra del parrafo*/
    font-family: 'Roboto', sans-serif; /*fuentes del texto*/
    margin: 0 auto;/*centrar*/
    width: 800px; /*Ancho */
    border: 5px solid #c2871a;/*linea de borde*/
    padding-left: 30px;/*espacio del parrafo entre el borde del contenedor*/
    background-color:#F0E9D2;/*color de fondo*/
}
.perfil /*selector clase*/ {
    border-radius: 50%;/*imagen este en circulo*/
    border: 5px solid #678983;/*color de la linea de borde imagen*/
    display: block;
    margin: auto;/*imagen quede centrada*/
    box-shadow: 10px 3px green, -1em 0 0.4em rgb(34, 27, 95);/*sombra relieve a*/
}

/*esto me quita la linea */
a {
    text-decoration: none;
}

h1/*selector tipo*/ {
    color:rgb(49, 25, 104);/*color de letra*/
    text-align: center;/*centrar texto*/
    font-family: 'Mochiy Pop P One', sans-serif;
}

h2{
    font-family: 'Mochiy Pop P One', sans-serif;
    letter-spacing: 1px;/*espacio entre letras*/
}

footer{
background-color: rgb(73, 51, 72);
width: 800px;
margin: 0 auto;
}